# DATABASE_URL untuk koneksi dari luar Docker (misal buat npx prisma studio)
# DATABASE_URL="postgresql://postgres:rahasia@localhost:5433/satetaichan"

# API Key Gemini (Wajib diisi oleh masing-masing user)
GOOGLE_GENERATIVE_AI_API_KEY=masukkan_api_key_disini